[submodule "packages/JUCE"]
	path = packages/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "packages/googletest"]
	path = packages/googletest
	url = git@github.com:google/googletest.git
